$wrapper-width: 1200px;

$layout-columns: (12) !default;

$layout-gutter:  24px !default;

$pushes: false !default;

.wrap {
    max-width: $wrapper-width;
    margin: 0 auto;
    padding: 0 24px;
}

.layout {
    list-style: none;
    margin-left: -$layout-gutter;
    display: flex;
    flex-wrap: wrap;
}

.layout__item {
    padding-left: $layout-gutter;
    box-sizing: border-box;
}

.layout__item--centered {
    margin-right: auto;
    margin-left: auto;
}

.layout--flush {
    margin-left: 0;

    .layout__item {
        padding-left: 0;
    }
}

%span-all {
    width: percentage(calc(1 / 1));
}

%one-half {
    width: percentage(calc(1 / 2));
}

%one-third {
    width: percentage(calc(1 / 3));
}

%two-thirds {
    width: percentage(calc(2 / 3));
}

%one-quarter {
    width: percentage(calc(1 / 4));
}

%two-quarters {
    width: percentage(calc(2 / 4));
}

%three-quarters {
    width: percentage(calc(3 / 4));
}

%push-span-all {
    margin-left: percentage(calc(1 / 1));
}

%push-one-half {
    margin-left: percentage(calc(1 / 2));
}

%push-one-third {
    margin-left: percentage(calc(1 /3));
}

%push-two-thirds {
    margin-left: percentage(calc(2 /3));
}

%push-one-quarter {
    margin-left: percentage(calc(1 /4));
}

%push-two-quarters {
    margin-left: percentage(calc(2 /4));
}

%push-three-quarters {
    margin-left: percentage(calc(2 /4));
}

%pull-span-all {
    margin-right: (percentage(calc(1 /1)));
}

%pull-one-half {
    margin-right: (percentage(calc(1 / 2)));
}

%pull-one-third {
    margin-right: (percentage(calc(1 /3)));
}

%pull-two-thirds {
    margin-right: (percentage(calc(2 /3)));
}

%pull-one-quarter {
    margin-right: (percentage(calc(1 /4)));
}

%pull-two-quarters {
    margin-right: (percentage(calc(2 /4)));
}

%pull-three-quarters {
    margin-right: (percentage(calc(2 /4)));
}

@each $count in $layout-columns {

    @for $i from 1 through $count {

        .layout__item--#{$i}-of-#{$count} {
            @if percentage(calc($i / $count) ) == percentage(calc(1 /1)) {
            @extend %span-all;
            } @else if percentage(calc($i / $count) ) == percentage(calc(1 / 2)) {
            @extend %one-half;
            } @else if percentage(calc($i / $count) ) == percentage(calc(1 /3)) {
            @extend %one-third;
            } @else if percentage(calc($i / $count) ) == percentage(calc(2 /3)) {
            @extend %two-thirds;
            } @else if percentage(calc($i / $count) ) == percentage(calc(1 /4)) {
            @extend %one-quarter;
            } @else if percentage(calc($i / $count) ) == percentage(calc(2 /4)) {
            @extend %two-quarters;
            } @else if percentage(calc($i / $count) ) == percentage(calc(2 /4)) {
            @extend %three-quarters;
            } @else {
            width: percentage(calc($i / $count) );
            }
        }

        @if $pushes {
            .layout__item--push-#{$i}-of-#{$count} {
                @if percentage(calc($i / $count) ) == percentage(calc(1 /1)) {
                  @extend %push-span-all;
                } @else if percentage(calc($i / $count) ) == percentage(calc(1 / 2)) {
                  @extend %push-one-half;
                } @else if percentage(calc($i / $count) ) == percentage(calc(1 /3)) {
                  @extend %push-one-third;
                } @else if percentage(calc($i / $count) ) == percentage(calc(2 /3)) {
                  @extend %push-two-thirds;
                } @else if percentage(calc($i / $count) ) == percentage(calc(1 /4)) {
                  @extend %push-one-quarter;
                } @else if percentage(calc($i / $count) ) == percentage(calc(2 /4)) {
                  @extend %push-two-quarters;
                } @else if percentage(calc($i / $count) ) == percentage(calc(2 /4)) {
                  @extend %push-three-quarters;
                } @else {
                  margin-left: percentage(calc($i / $count) );
                }
            }
        }
    }
}

@each $size, $width in $breakpoints {

    @media (min-width: $width) {

        %span-all\@#{$size} {
            width: percentage(calc(1 /1));
        }

        %one-half\@#{$size} {
            width: percentage(calc(1 / 2));
        }

        %one-third\@#{$size} {
            width: percentage(calc(1 /3));
        }

        %two-thirds\@#{$size} {
            width: percentage(calc(2 /3));
        }

        %one-quarter\@#{$size} {
            width: percentage(calc(1 /4));
        }

        %two-quarters\@#{$size} {
            width: percentage(calc(2 /4));
        }

        %three-quarters\@#{$size} {
            width: percentage(calc(2 /4));
        }

        %push-span-all\@#{$size} {
        margin-left: percentage(calc(1 /1));
        }

        %push-one-half\@#{$size} {
            margin-left: percentage(calc(1 / 2));
        }

        %push-one-third\@#{$size} {
            margin-left: percentage(calc(1 /3));
        }

        %push-two-thirds\@#{$size} {
            margin-left: percentage(calc(2 /3));
        }

        %push-one-quarter\@#{$size} {
            margin-left: percentage(calc(1 /4));
        }

        %push-two-quarters\@#{$size} {
            margin-left: percentage(calc(2 /4));
        }

        %push-three-quarters\@#{$size} {
            margin-left: percentage(calc(2 /4));
        }

        %pull-span-all\@#{$size} {
            margin-right: (percentage(calc(1 /1)));
        }

        %pull-one-half\@#{$size} {
            margin-right: (percentage(calc(1 / 2)));
        }

        %pull-one-third\@#{$size} {
            margin-right: (percentage(calc(1 /3)));
        }

        %pull-two-thirds\@#{$size} {
            margin-right: (percentage(calc(2 /3)));
        }

        %pull-one-quarter\@#{$size} {
            margin-right: (percentage(calc(1 /4)));
        }

        %pull-two-quarters\@#{$size} {
            margin-right: (percentage(calc(2 /4)));
        }

        %pull-three-quarters\@#{$size} {
            margin-right: (percentage(calc(2 /4)));
        }

        @each $count in $layout-columns {

            @for $i from 1 through $count {

                .layout__item--#{$i}-of-#{$count}\@#{$size} {
                    @if percentage(calc($i / $count) ) == percentage(calc(1 /1)) {
                    @extend %span-all\@#{$size};
                    } @else if percentage(calc($i / $count) ) == percentage(calc(1 / 2)) {
                    @extend %one-half\@#{$size};
                    } @else if percentage(calc($i / $count) ) == percentage(calc(1 /3)) {
                    @extend %one-third\@#{$size};
                    } @else if percentage(calc($i / $count) ) == percentage(calc(2 /3)) {
                    @extend %two-thirds\@#{$size};
                    } @else if percentage(calc($i / $count) ) == percentage(calc(1 /4)) {
                    @extend %one-quarter\@#{$size};
                    } @else if percentage(calc($i / $count) ) == percentage(calc(2 /4)) {
                    @extend %two-quarters\@#{$size};
                    } @else if percentage(calc($i / $count) ) == percentage(calc(2 /4)) {
                    @extend %three-quarters\@#{$size};
                    } @else {
                    width: percentage(calc($i / $count) );
                    }
                }

                @if $pushes {
                    .layout__item--push-#{$i}-of-#{$count}\@#{$size} {
                        @if percentage(calc($i / $count) ) == percentage(calc(1 /1)) {
                          @extend %push-span-all\@#{$size};
                        } @else if percentage(calc($i / $count) ) == percentage(calc(1 / 2)) {
                          @extend %push-one-half\@#{$size};
                        } @else if percentage(calc($i / $count) ) == percentage(calc(1 /3)) {
                          @extend %push-one-third\@#{$size};
                        } @else if percentage(calc($i / $count) ) == percentage(calc(2 /3)) {
                          @extend %push-two-thirds\@#{$size};
                        } @else if percentage(calc($i / $count) ) == percentage(calc(1 /4)) {
                          @extend %push-one-quarter\@#{$size};
                        } @else if percentage(calc($i / $count) ) == percentage(calc(2 /4)) {
                          @extend %push-two-quarters\@#{$size};
                        } @else if percentage(calc($i / $count) ) == percentage(calc(2 /4)) {
                          @extend %push-three-quarters\@#{$size};
                        } @else {
                          margin-left: percentage(calc($i / $count) );
                        }
                    }
                }
            }
        }
    }
}
