@use "sass:map";
@use "variables" as vars;

h1 {
  font-size: 28.83px;
  margin-bottom: 16px;
  @media (min-width: map.get(vars.$breakpoints, m)) {
    font-size: 39.81px;
  }
}

h2 {
  font-size: 25.63px;
  margin-top: 2rem;
  margin-bottom: 8px;
  @media (min-width: map.get(vars.$breakpoints, m)) {
    font-size: 33.18px;
  }
}

h3 {
  font-size: 22.78px;
  margin-top: 2rem;
  margin-bottom: 16px;
  @media (min-width: map.get(vars.$breakpoints, m)) {
    font-size: 27.65px;
  }
}

h4 {
  font-size: 20.25px;
  margin-top: 2rem;
  margin-bottom: 16px;
  @media (min-width: map.get(vars.$breakpoints, m)) {
    font-size: 23.04px;
  }
}

p {
  margin-bottom: 24px;
  line-height: 1.5;
  opacity: 0.85;
  .header-links {
    text-decoration: underline;
    color: #203fb9;
    &:hover,
    &:visited {
      color: #65327f;
    }
  }
}

strong {
  font-weight: bold;
}

.post-body .sources {
  font-size: 0.8rem;
  color: #666;
  line-height: 1.4;
  margin-top: 4rem;

  > p:first-child {
    margin-bottom: 0;
  }
  li {
    margin-bottom: 8px;
  }
}