---
layout: default
---

{% assign author = site.data.authors[page.author] %}
<div class="layout">
  <div
    class="layout__item layout__item--12-of-12 layout__item--7-of-12@m layout__item--centered"
  >
    <div class="m-t-1 m-b-2 m-b-4@m">
      <h1>{{ page.title }}</h1>
      <p class="subtitle">{{ page.description }}</p>
      {% if author %}
      <div class="author-info">
        <div class="avatar">
          <img
            src="{{ site.cdn }}{{ author.avatar }}"
            alt="Picture of {{ author.name }}"
          />
          <p>Written by {{ author.name }}</p>
        </div>
        <p class="m-b-1">
          {{ page.date | date: "%d %B %Y" }}
          <span class="reading-time">· {{ content | number_of_words | divided_by: 200 | plus: 1 }} min read</span>
        </p>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="layout__item m-b-5">
    <img src="{{ site.cdn }}{{ page.image-name }}" alt="{{ page.image-alt }}" />
  </div>

  <div
    class="post layout__item layout__item--12-of-12 layout__item--7-of-12@m layout__item--centered"
  >
    <div class="post-body">
      {{ content }}
    </div>
    <div class="m-t-6 m-b-2">
      <ul class="tags">
        {% for tag in page.tags %}
        <li class="m-l-1 m-r-1 m-t-1 m-b-1"><a href="/tags/#{{ tag | slugify }}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <nav
    class="post-nav m-t-6 layout__item layout__item--12-of-12 layout__item--7-of-12@m layout__item--centered"
  >
    {% if page.previous %}
    <a class="post-nav__link post-nav__link--prev" href="{{ page.previous.url }}">
      <span class="post-nav__label">← Older</span>
      <span class="post-nav__title">{{ page.previous.title }}</span>
    </a>
    {% endif %}
    {% if page.next %}
    <a class="post-nav__link post-nav__link--next" href="{{ page.next.url }}">
      <span class="post-nav__label">Newer →</span>
      <span class="post-nav__title">{{ page.next.title }}</span>
    </a>
    {% endif %}
  </nav>

  <div
    class="m-t-8 layout__item layout__item--12-of-12 layout__item--7-of-12@m layout__item--centered"
  >
    <h3 class="post-list__heading">Further reading</h3>
    {% include related-posts.html %}
  </div>
</div>
